/* Common Settings */

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    outline: none;
    font-family: "Roboto", sans-serif;
    letter-spacing: 0.5px;
}

/* Variable Settings */

:root{

    --text-color-black: #2D2D2D;
    --text-color-white: #FFFFFD;
    --bg-color-1: #00000D;
    --bg-color-2: #FFFFFF;
    --ash-gray: #979797;


    --main-color: #a26360;
    --blue: #0000ff;
    --dark-blue: #18293c;
    --orange: #ffa500;
    --green-yellow: #cddc39;
    --light-pink: #efa2b4;
    --light-cyan: #aef1ee;
    --white: #ffffff;
    --white-alpha-4: rgba(255, 255, 255, 0.4);
    --white-alpha-25: rgba(255, 255, 255, 0.25);
    --backdrop-filter-blur: blue(5px);
    

}

::before,
::after{
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    background-color: var(--bg-color-2);
    background-attachment: fixed;
    font-size: 16px;
    color: var(--dark-blue);
    line-height: 1.5;
    overflow-x: hidden;
    padding: 35px 15px;
    background-size: 400%;
}

@keyframes bg-animate{
    0%{
        background-position: left;
        
    }
    100%{
        background-position: right;

    }
}

.hiddenSection{
    opacity: 0;
    filter: blur(5px);
    transform: translateY(20px);
    transition: all 1s;
}

.show{
    opacity: 1;
    filter: blur(0);
    transform: translateY(0);
}

body.hide-scrolling{
    overflow: hidden;
}

body::before{
    content: '';
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: var(--bg-color-2);
    z-index: -1;
    opacity: 0.12;
}

a{
    text-decoration: none;
}

img{
    max-width: 100%;
    vertical-align: middle;
}

ul{
    list-style: none;
}

section{
    background-color: var(--white-alpha-25);
    border: 1px solid var(--white-alpha-4);
    min-height: calc(100vh - 70px);
    backdrop-filter: var(--backdrop-filter-blur);
    display: none;

}

section.active{
    display: block;
    animation: fadein 0.5s ease-in-out forwards;
}

section.fade-out{
    animation: fadeout 0.5s ease-in-out forwards;

}

.main{
    max-width: 1200px;
    margin: auto;
    transition: all 0.5s ease-in-out;
    position: relative;
}

.main.fade-out{
    opacity: 0;
}

.container{
   
    /* padding: 0 40px; */
    width: 100%;
}

.align-items-center{
    align-items: center;
}

.hidden{
    display: none !important;
}

.sec-padding{
    padding: 80px 0;
}

.flex-end{
    justify-content: flex-end;
}


@keyframes spin{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}



/* Section Title for About */
.section-title{
    padding: 0 15px;
    width: 100%;
    text-align: center;
    margin-bottom: 40px;
}

.section-title h2{
    font-size: 36px;
    text-decoration: underline;
    padding-bottom: 10px;
}

/* Button Elements */
button{
    font-family: inherit;
    user-select: none;
}

.btn{
    line-height: 1.5;
    background-color: var(--white-alpha-25);
    border: 1px solid var(--white-alpha-4);
    padding: 10px 28px;
    display: inline-block;
    border-radius: 30px;
    color: var(--main-color);
    font-weight: 500;
    font-family: inherit;
    font-size: 16px;
    cursor: pointer;
    user-select: none;
    position: relative;
    overflow: hidden;
    vertical-align: middle;
    transition: color 0.3s ease;
}

.btn::before{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 0%;
    background-color: var(--main-color);
    z-index: -1;
    transition: width 0.3s ease;
}

.btn:hover:before{
    width: 100%;
}

.btn:hover{
    color: var(--white);
}

/* animations */
@keyframes fadeout{
    0%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}

@keyframes fadein{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

/* overlay content */
.overlay{
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: transparent;
    z-index: 200;
    visibility: hidden;
}

.overlay.active{
    visibility: visible;
}

/* header content */

.header{
    position: absolute;
    left: 0;
    top: -30px;
    width: 100%;
    z-index: 1;
    padding: 20px 0 0;
}

.header.active{
    position: fixed;
    top: 5px;
    padding: 20px 15px;
}

.header.active .container{
    max-width: 1200px;
    margin: auto;
}

.header .nav-toggler{
    width: 50px;
    height: 50px;
    border: none;
    cursor: pointer;
    border-radius: 50%;
    background-color: var(--text-color-white);
    border: 1px solid var(--text-color-black);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 15px;
    z-index: 1;
    transition: opacity 0.5s ease-in-out;
}

.header .nav-toggler.hide{
    opacity: 0;
    transition: none;
}

.header .nav-toggler span{
    height: 2px;
    width: 24px;
    background-color: var(--text-color-black);
    position: relative;
    transition: backgroundColor 0.3s ease;
}

.header.active .nav-toggler span{
    background-color: transparent;
}

.header .nav-toggler span::before,
.header .nav-toggler span::after{
    content: '';
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: var(--text-color-black);
    transition: all 0.3s ease;
}

.header .nav-toggler span::before{
    left: 0;
    transform: translateY(-8px);
}

.header.active .nav-toggler span::before{
    transform: rotate(45deg);
}

.header .nav-toggler span::after{
    right: 0;
    transform: translateY(8px);
}

.header.active .nav-toggler span::after{
    transform: rotate(-45deg);
}

.header:not(.active) .nav-toggler:hover span::before,
.header:not(.active) .nav-toggler:hover span::after{
    width: 50%;
}

/* nav content */

.header .nav{
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    padding: 35px 15px;
    overflow-y: auto;
    visibility: hidden;
}

.header .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 20px;
    background-color: var(--bg-color-2);
    border-bottom: 1px solid var(--ash-gray);

}

.header .container h2{
    color: var(--bg-color-1);
}

.header.active .nav{
    visibility: visible;
}

.header .nav-inner{
    min-height: calc(100vh - 70px);
    background-color: var(--white-alpha-25);
    border: 1px solid var(--white-alpha-4);
    border-radius: 30px;
    max-width: 1200px;
    margin: auto;
    padding: 50px 0;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: all 0.5s ease;
}

.header.active .nav-inner{
    opacity: 1;
}

.header .nav-inner ul li{
    text-align: center;
}

.header .nav-inner ul li a{
    font-size: 40px;
    color: var(--dark-blue);
    display: block;
    font-weight: 500;
    padding: 8px 15px;
    transition: color 0.3s ease;
    position: relative;
}

.header .nav-inner ul li a::before{
    content: '';
    position: absolute;
    right: 0;
    bottom: 0;
    height: 50%;
    width: 0%;
    background-color: var(--white-alpha-25);
    z-index: -1;
    transition: width 0.5s ease;
}

.header .nav-inner ul li a:hover::before{
    width: 100%;
}

.header .nav-inner ul li a:hover{
    color: var(--main-color);
}

.row{
    display: flex;
    flex-wrap: wrap;
    
}

.col{
    display: flex;
    flex-direction: column;
}

::-webkit-scrollbar{
    width: 5px;
}

::-webkit-scrollbar-track{
    background-color: var(--white);
}

::-webkit-scrollbar-thumb{
    background-color: var(--text-color-black);
}

/* Home Section */

.home-section{
    padding: 120px 40px;
    background-color: var(--bg-color-1);
}

.home-section.active{
    display: flex;
    
}

.home-text, .home-img{
    width: 50%;
    padding: 15px;
}

.home-text h1{
    font-size: 36px;
    font-weight: 500;
    color: var(--text-color-white);
}

.home-text h3{
    font-size: 20px;
    font-weight: 500;
    margin: 0 0 10px;
    color: var(--text-color-white);

}

.home-text p{
    font-size: 18px;
    padding-top: 10px;
    padding-bottom: 20px;
    font-weight: 300;
    color: var(--text-color-white);
}

.home-text p span{
    font-size: 18px;
    font-weight: 700;
    color: var(--text-color-white);
}

.home-text .btn{
    margin: 0 15px 15px 0;
}

.home-text a{
    font-size: 20px;
    
}

.home-img .img-box{
    margin-left: auto;
    margin-right: auto;
    max-width: 360px;
    
    
    
}

.home-img .img-box img{
    width: 100%;
    border-radius: 50%;
}

.socials{
    text-decoration: none;
    
    
}

.bx{
    font-size: 40px;
    padding: 10px;
    color: var(--text-color-white);
    
}

.bx:hover{
    -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: var(--ash-gray);
    color: #fdfdfd;
    text-shadow: var(--ash-gray) 2px 0 10px;
}


/* Project Section */

.section-title p{
    font-size: 16px;
    font-weight: 300;
}

.project-section{
    padding-bottom: 50px;
    font-weight: 500;
}
.project-item{
    display: flex;

}

.project-item1{
    display: flex;
    background-color: var(--bg-color-1);
    color: var(--text-color-white);
    padding: 40px;
}

.project-item2{
    display: flex;
    background-color: var(--bg-color-2);
    color: var(--text-color-black);
    padding: 40px;
}

.project-item-thumbnail{
    width: 50%;
}

.project-item-details{
    width: 50%;
    display: flex;
    flex-direction: column;
    padding: 15px 30px;
}

.project-item-title{
    font-size: 40px;
    font-weight: 500;
    padding-bottom: 20px;
    
}

.description{
    font-size: 16px;
    font-weight: 300;
    padding-bottom: 20px;
}


.general-info li{
    font-size: 16px;
    font-weight: 500;
    padding-bottom: 20px;
}

.general-info li span{
    font-size: 16px;
    font-weight: 300;
}

.links{
    display: flex;
    gap: 30px;
    
}

.view-link{
    padding: 10px 20px;
    color: var(--text-color-white);
    background-color: var(--text-color-black);
    border: 1px solid var(--text-color-white);
}

.git-link{
    padding: 10px 20px;
    color: var(--text-color-black);
    background-color: var(--text-color-white);
    border: 2px solid var(--text-color-black);

}

.links a:hover{
    box-shadow: 1px 3px 5px var(--ash-gray);
}

/* Skills Section */

.skills-section{
    min-height: calc(80vh - 70px);
    background-color: var(--bg-color-2);
    
}

.skills-section .col{
    display: flex;
    flex-direction: column;
    align-items: center;   
}


.skill-item-title{
    font-size: 36px;
    font-weight: 500;
    padding-bottom: 20px;
    text-decoration: underline;

}

.skills-section .description{
    text-align: center;
}

.skill-heading{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}



.skills{
    display: flex;
  flex-wrap: wrap; 
  justify-content: center;
  gap: 20px;

}

.skill {
    flex: 1 1 calc(50% - 20px);
    max-width: calc(50% - 20px);
    border: 1px solid var(--ash-gray);
    color: var(--bg-color-1);
    padding: 30px;
    box-sizing: border-box;
    
}

.skill-title{
    margin-left: 20px;
    font-size: 20px;
    font-weight: 500;
}

.skill-item{
    margin-left: 20px;
    font-size: 16px;
    font-weight: 300;
}

.skill-icon{
    text-decoration: none;
}

.skill-icon .bx{
    font-size: 40px;
    padding: 10px;
    color: var(--text-color-black);
    
}


/* About Section */

.about-item{
    display: flex;
    background-color: var(--bg-color-1);
    color: var(--text-color-white);
    padding: 40px;
}

.about-item-details{
    width: 50%;
    display: flex;
    flex-direction: column;
    padding: 15px 30px;

}


.about-item-title{
    font-size: 36px;
    font-weight: 500;
    padding-bottom: 20px;
    text-decoration: underline;

}

.about-item-details p{
    padding-bottom: 10px;
    font-size: 16px;
    font-weight: 300;
}

.about-item-details p span{
    font-weight: 500;
}

.about-item-thumbnail{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

}

/* footer */
.footer{
    padding-top: 10px;
}

.footer p{
    text-align: center;
}

/* Responsive code */
/* media screen 991px */

@media(max-width:991px){
    .container{
        padding: 0;
    }

    .home-text,
    .home-img{
        width: 100%;
    }

    .home-text{
        text-align: center;
    }

    .home-img{
        order: -1;
    }

    .home-img .img-box{
        display: block;
        margin-left: auto;
        margin-right: auto;
        max-width: 300px;
    }

    .home-text .btn{
        margin: 0 7px 15px;
    }

    /* .project-item{
        width: calc(50% - 30px);
    } */

    .project-item1,
    .project-item2,
    .about-item{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .project-item-details, 
    .project-item-thumbnail,
    .about-item-thumbnail{
        width: 70%;
    }

    .about-item-details{
        width: 70%;
        text-align: center;
    }
   

}

/* media screen 767px */

@media(max-width:767px){

    .home-text h1{
        font-size: 30px;
    }

    .home-text p{
        font-size: 16px;
    }


    .project-section .section-title h2,
    .skill-item-title,
    .about-item-title,
    .project-item-title
    {
        font-size: 30px;
    }

    .view-link,
    .git-link
    {
        font-size: 16px;
        padding: 7px 14px;
    }


    .about-img,
    .about-text{
        width: 100%;
    }

    .about-text{
        margin-top: 30px;
    }

    .project-item{
        width: calc(100% - 30px);
    }

    .pp-inner{
        padding: 30px 15px;
    }

    .pp-body .description,
    .pp-body .general-info li{
        font-size: 16px;
    }

    .skill {
        flex: 1 1 100%; 
        max-width: 100%;
    }
    
}

/* media screen 575px */

@media(max-width:575px){


    .header .nav-inner ul li a{
        font-size: 26px;
    }

    .header .nav-toggler{
       margin: 0;
    }

    .header h2{
        font-size: 24px;
       
    }

    
    .home-text p,
    .home-text h2{
        font-size: 18px;
    }

    .pp-header h3{
        font-size: 20px;
    }

    .home-text h1{
        font-size: 26px;
    }

    .home-text p,
    .description,
    .about-item-details .description{
        font-size: 14px;
    }


    .project-section .section-title h2,
    .skill-item-title,
    .about-item-title,
    .project-item-title
    {
        font-size: 26px;
    }

    .links{
        gap: 15px;
        padding: 0;
    }

    .view-link,
    .git-link
    {
        font-size: 12px;
        padding: 5px 10px;
    }

    .project-item-details, 
    .project-item-thumbnail,
    .about-item-details,
    .about-item-thumbnail{
        width: 100%;
    }

    .skill-title{
        font-size: 18px;
  
    }
    
}
